<div class="container">
    <div class="price-box">
        <form class="form-horizontal form-pricing" role="form" ng-repeat="pdata in profileData.MemberData">
            <div class="price-slider">
                <h4 class="great">Organization</h4><h4 class="great-right">{{pdata.Organization}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Chair Man</h4>
                <h4 class="great-right">{{pdata.ChairMan}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Mailing Address</h4>
                <h4 class="great-right">{{pdata.Mailing_Address}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Email</h4>
                <h4 class="great-right">{{pdata.Email}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Website</h4>
                <h4 class="great-right">{{pdata.Website}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Repre Desig</h4>
                <h4 class="great-right">{{pdata.Repre_Desig}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Repre_Name</h4>
                <h4 class="great-right">{{pdata.Repre_Name}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Repre_Mobile</h4>
                <h4 class="great-right">{{pdata.Repre_Mobile}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Repre_Email</h4>
                <h4 class="great-right">{{pdata.Repre_Email}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">Category</h4>
                <h4 class="great-right">{{pdata.Category}}</h4>
            </div>
            <div class="price-slider">
                <h4 class="great">PriceRange</h4>
                <h4 class="great-right">{{pdata.PriceRange}}</h4>
            </div>
        </form>
       
    </div>
    <!--<div class="container-fluid" style="background-color:#e8e8e8">

    <div class="container container-pad" id="property-listings">
 <div class="row">
            <div class="col-md-12">
                <h1>Completed Projects</h1>
                <p>A snippet I recently used to display homes for a local brokerage.  Focused more on images when accessed through mobile</p>
            </div>
        </div>-->

<div class="row">
    <div class="col-md-12">
        <hr />
        <h3>Completed Projects</h3>
 <div class="row"  >
     <div class="col-sm-12">
     <div class="col-sm-3" ng-repeat="cprojects in profileData.CompletedProjects">
	 <img src="http://localhost:57853/UploadedImage/{{cprojects.Project_Photo}}"  class="img-rounded img-project" />
  </div>
     </div>
 </div>
 <div class="row">
     <div class="col-sm-12">
         <div class="col-sm-4">
             <ul>
                 <li class="project_list"><label>Project Name</label></li>
                 <li class="project_list"><label>Location</label></li>
                 <li class="project_list"><label>Project Type</label></li>
                 <li class="project_list"><label>No Of Unit</label></li>
             </ul>
         </div>
         <div class="col-sm-8">
              <ul>
                 <li class="project_list"><label>{{profileData.CompletedProjects[0].Project_Name}}</label></li>
                 <li class="project_list"><label>{{profileData.CompletedProjects[0].Location}}</label></li>
                 <li class="project_list"><label>{{profileData.CompletedProjects[0].Project_Type}}</label></li>
                 <li class="project_list"><label>{{profileData.CompletedProjects[0].No_Of_Unit}}</label></li>
             </ul>
         </div>
     </div>
 </div>
            <!--<li ng-repeat="uprojects in profileData.UpcomingProjects">
                {{uprojects}}
            </li>
        </ul>-->
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <hr />
        <h3>Upcoming Projects</h3>
 <div class="row"  >
     <div class="col-sm-12">
     <div class="col-sm-3" ng-repeat="uprojects in profileData.UpcomingProjects">
	 <img src="http://localhost:57853/UploadedImage/{{uprojects.Project_Photo}}"  class="img-rounded img-project" />
  </div>
     </div>
 </div>
 <div class="row">
     <div class="col-sm-12">
         <div class="col-sm-4">
             <ul>
                 <li class="project_list"><label>Project Name</label></li>
                 <li class="project_list"><label>Location</label></li>
                 <li class="project_list"><label>Project Type</label></li>
                 <li class="project_list"><label>No Of Unit</label></li>
             </ul>
         </div>
         <div class="col-sm-8">
              <ul>
                 <li class="project_list"><label>{{profileData.UpcomingProjects[0].Project_Name}}</label></li>
                 <li class="project_list"><label>{{profileData.UpcomingProjects[0].Location}}</label></li>
                 <li class="project_list"><label>{{profileData.UpcomingProjects[0].Project_Type}}</label></li>
                 <li class="project_list"><label>{{profileData.UpcomingProjects[0].No_Of_Unit}}</label></li>
             </ul>
         </div>
     </div>
 </div>
            <!--<li ng-repeat="uprojects in profileData.UpcomingProjects">
                {{uprojects}}
            </li>
        </ul>-->
    </div>
</div>
    <!--</div>
    </div>
    </div>-->
    </div>
    </div>
    </div>